@font-face {
    font-family: 'DiavloBlack';
    src: url('diavlo_black_ii_37.eot');
    src: url('diavlo_black_ii_37.eot') format('embedded-opentype'),
         url('diavlo_black_ii_37.woff2') format('woff2'),
         url('diavlo_black_ii_37.woff') format('woff'),
         url('diavlo_black_ii_37.ttf') format('truetype'),
         url('diavlo_black_ii_37.svg#DiavloBlack') format('svg');
}
