@font-face {
    font-family: 'DiavloBook';
    src: url('diavlo_book_ii_37.eot');
    src: url('diavlo_book_ii_37.eot') format('embedded-opentype'),
         url('diavlo_book_ii_37.woff2') format('woff2'),
         url('diavlo_book_ii_37.woff') format('woff'),
         url('diavlo_book_ii_37.ttf') format('truetype'),
         url('diavlo_book_ii_37.svg#DiavloBook') format('svg');
}
